<!DOCTYPE html>
<html lang="ru">
    <!--suppress HtmlRequiredTitleElement -->
    <head>
        <meta charset="UTF-8">
        {% block title %}{{ sonata_seo_title() }}{% endblock %}

        {{ sonata_seo_metadatas() }}

        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        {{ sonata_seo_oembed_links() }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% include 'header.html.twig' %}
    </div>

    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% include 'footer.html.twig' %}
    </body>
</html>

