{% extends 'base.html.twig' %}

{% block body %}


    <main role="main" class="container">

        {% block sonata_page_breadcrumb %}
            <div class="row-fluid clearfix">
                {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
            </div>
        {% endblock %}


        <h1>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</h1>

        <div class="sonata-blog-post-list">
            {% for post in pager.getResults() %}

                <div class="blog-post">
                    <header>
                    <h2 class="blog-post-title">
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                    </h2>
                    {% include "bundles/SonataNewsBundle/Post/header-meta.html.twig" %}
                    </header>

                    <div class="blog-post-abtract">
                    {{ post.abstract }}
                    </div>
                </div><!-- /.blog-post -->

                <hr />
            {% else %}
                {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
            {% endfor %}


            <nav class="blog-pagination">
                <a class="btn btn-outline-primary {% if pager.page == pager.firstPage %} disabled{% endif %}" href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
                <a class="btn btn-outline-secondary {% if pager.page == pager.lastPage %} disabled{% endif %}" href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a>
            </nav>

            {#<ul class="pager">#}
                {#<li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>#}
                {#<li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>#}
            {#</ul>#}
        </div>
    </main>


{% endblock %}